<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://127.0.0.1:5000/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Allow file uploads up to 50MB (52428800 bytes) -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
